<div class="publication">
<a href="<%= publication.url %>?ref=sansfrancisco" target="_blank">
  <h3> 
    <%= publication.title %>
  </h3>
</a>

<!-- Like/Unlike Button -->
<% if current_user %>
  <!-- If the user is signed in, allow them to vote -->
  <div class="votes">
    <% if (current_user.liked? publication) %>
      <!-- Unlike -->
      <%= render(:partial => 'unlike', :locals => {:publication => publication})%>
    <% else %>
      <!-- Like -->
      <%= render(:partial => 'like', :locals => {:publication => publication})%>
    <% end %>
  </div>
<% else %>
  <!-- If the user is not signed in, send them to Twitter -->
  <%= link_to "/auth/twitter" do %>
    <button class="ui basic compact icon right floated button" data-tooltip="You need to sign in before saving this link." data-variation="basic" data-position="top right">
      <i class="heart icon" style="color: #EDB0B1"></i> <%= publication.get_likes.size %>
    </button> 
  <% end %>
<% end %>

<% if publication.medium == "book" %>
  <p>
    A <%= publication.medium %> written by <%= publication.author %>
  </p>
<% elsif publication.medium == "article" %>
  <p>
    An <%= publication.medium %> written by <%= publication.author %>
  </p>
<% elsif publication.medium == "blog" %>
  <p>
    A <%= publication.medium %> featuring writing from <%= publication.author %>
  </p>
<% elsif publication.medium == "podcast" %>
  <p>
    A <%= publication.medium %> produced by <%= publication.author %>
  </p>
<% elsif publication.medium == "video" %>
  <p>
    A <%= publication.medium %> created by <%= publication.author %>
  </p>
<% elsif publication.medium == "class" %>
  <p>
    A <%= publication.medium %> taught by <%= publication.author %>
  </p>
<% elsif publication.medium == "newsletter" %>
  <p>
    A <%= publication.medium %> curated by <%= publication.author %>
  </p>
<% end %>

<p class="tags">
  <%= raw publication.tag_list.map { |t| link_to t, tag_path(t), :class => "tag" }.join('') %> 
</p>