<div class="container">

  <!-- Header
  ================================================== -->

  <%= render(:partial => 'shared/header', locals: { :resource => @resource }) %>

  <!-- ****** Large Announcement ****** -->
  <div class="announcement">
    <h1>
      A collection of resources to help designers learn and grow.
    </h1>
  </div>

  <!-- Main Content
  ================================================== -->
  <div class="mainContent">

    <!-- Side Navigation 
    ************************************************** -->
    <div class="sideNav">
      <ul>

        <!-- Category Nav List -->
        <% @categories.each do |category, category_id| %>
          <div class="navItem">
            <div class="navMarker"><i></i></div>
            <li><a href="#<%= category_id %>"><%= category %></a></li>
          </div>
        <% end %>
        
        <!-- Nav Footer -->
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li>
            <a href="https://twitter.com/home?status=%40robinsongreig%20Sans%20Francisco%20recommendation%20--%20" target="_blank">
              Suggest a Resource
            </a>
          </li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li>Built by <a href="https://twitter.com/robinsongreig" target="_blank" class="credit"><%= image_tag("ghost.png", :alt => "Robinson Greig") %></a></li>
        </div>
        <div class="navItem">
          <a href="https://twitter.com/home?status=Sans%20Francisco%20is%20a%20collection%20of%20digital%20resources%20for%20digital%20designers.%20www.sansfrancis.co%20via%20%40robinsongreig" target="_blank">
          <!-- Rick Roll <a href="https://youtu.be/dQw4w9WgXcQ?t=43s" target="_blank">-->
            <button class="ui basic twitter button tweetThis">
              <i class="twitter icon"></i>
              Tweet
            </button>
          </a>
        </div>
      </ul>
    </div>

    <!-- Resource List 
    ************************************************** -->
    <div class="dataTable" id="dataTable">

      <% @categories.each do |category, category_id| %>

        <!-- Category Title -->
        <h2 id="<%= category_id %>">
          <%= category %>
        </h2>
        <div class="breakerBar"></div>

        <!-- Category Details -->
        <% @publications.each do |publication| %>
          <% if publication.category == category %>
            <div class="publication">
              <a href="<%= publication.url %>?ref=sansfrancisco" target="_blank">
                <h3> 
                  <%= publication.title %>
                </h3>
              </a>


              <!-- Like/Unlike Button -->
              <% if current_user %>
                <!-- If the user is signed in, allow them to vote -->
                <div class="votes">
                  <% if (current_user.liked? publication) %>
                    <!-- Unlike -->
                    <%= render(:partial => 'unlike', :locals => {:publication => publication})%>
                  <% else %>
                    <!-- Like -->
                    <%= render(:partial => 'like', :locals => {:publication => publication})%>
                  <% end %>
                </div>
              <% else %>
                <!-- If the user is not signed in, send them to Twitter -->
                <%= link_to "/auth/twitter" do %>
                  <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= publication.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>

              <% if publication.medium == "book" %>
                <p>
                  A <%= publication.medium %> written by <%= publication.author %>
                </p>
              <% elsif publication.medium == "article" %>
                <p>
                  An <%= publication.medium %> written by <%= publication.author %>
                </p>
              <% elsif publication.medium == "blog" %>
                <p>
                  A <%= publication.medium %> featuring writing from <%= publication.author %>
                </p>
              <% elsif publication.medium == "podcast" %>
                <p>
                  A <%= publication.medium %> produced by <%= publication.author %>
                </p>
              <% elsif publication.medium == "video" %>
                <p>
                  A <%= publication.medium %> created by <%= publication.author %>
                </p>
              <% elsif publication.medium == "class" %>
                <p>
                  A <%= publication.medium %> taught by <%= publication.author %>
                </p>
              <% end %>

            </div>
          <% end %>
        <% end %>
      <% end %>


    </div>
  </div>

  <!-- Footer
  ================================================== -->
  <footer>
    <p>
      Built by <a href="https://twitter.com/robinsongreig" target="_blank" class="credit"><%= image_tag("ghost.png", :alt => "Robinson Greig") %></a>
    </p>
  </footer>
</div>

<script>
  scrollToDiv();
  stickyNav();
  themeColor();
  navOverlay();
</script>