<!-- ****** Large Announcement ****** -->
<div class="announcement">
  <h1>
    A collection of resources to help designers learn and grow.
  </h1>
</div>

<!-- Main Content
================================================== -->
<div class="mainContent">

  <!-- Side Navigation
  ************************************************** -->
  <div class="sideNav">
    <ul>

    <!-- Tag Cloud -->
      <div class="tag_cloud">
        <% tag_cloud Publication.tag_counts, %w{extra-small small medium large extra-large} do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class + " tag" %>
        <% end %>
      </div>

      <!-- Category Nav List -->
      <!--
      < @categories.each do |category, category_id| >
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#<= category_id >"><= category ></a></li>
        </div>
      < end >
      -->

      <%= render(:partial => 'shared/newsletterForm')%>
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=sansfrancisco" id="_carbonads_js"></script>

    </ul>
  </div>

  <!-- Resource List
  ************************************************** -->
  <div class="dataTable" id="dataTable">
    <div class="mobileShow">
      <%= render(:partial => 'shared/newsletterForm')%>
    </div>
    <% if request.original_url.include?('tags') %>
      <% @publications.each do |publication| %>
        <%= render(:partial => 'publication', :locals => {:publication => publication})%>
      <% end %>
    <% else %>
      <% @publication_weeks.sort.reverse.each do |week, publications| %>
        <h2>Week of <%= week.strftime('%b %d') %></h2>
        <div class="breakerBar"></div>
        <% for publication in publications %>
          <%= render(:partial => 'publication', :locals => {:publication => publication})%>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
