<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publication.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @publication.category %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @publication.medium %>
</p>

<p>
  <strong>Url:</strong>
  <%= @publication.url %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
