<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @job.companyName %>
</p>

<p>
  <strong>Positiontitle:</strong>
  <%= @job.positionTitle %>
</p>

<p>
  <strong>Positiondescription:</strong>
  <%= @job.positionDescription %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category %>
</p>

<p>
  <strong>URL:</strong>
  <%= @job.url %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
