<div class="hero">
  <h1><%= @user.name %>'s Toolkit</h1>
</div>

<div class="main-content profile">
  	<div class="sidebar sidebar--user">
  	  <% if @user.image_url != nil %>
  		  <%= image_tag @user.image_url, alt: @user.name, :class => "profile-photo" %>
    	<% else %>
    		<%= image_tag "emptyPhoto.png", alt: @user.name, :class => "profile-photo" %>
    	<% end %>
	  	<h3>
	  		<%= @user.name %>
	  	</h3>
	  	<p>
	  		<%= @user.description %>
	  	</p>
	  	<p>
	  		<%= @user.location %>
	  	</p>

      <ul id="nav">
        <% if current_user == @user %>
          <a href="/signout" class="nav-item">
            <span class="nav-item__mark"></span>
            <li class="nav-item__label">Sign Out</li>
          </a>
        <% end %>
      </ul>
  	</div>
    <div id="resources">
      <%= render(:partial => 'userResources')%>
    </div>
</div>

<script>
	themeColor();
	navOverlay();
</script>
