<!-- ****** Primary Navigation ****** -->
<div class="header">
  <h3 class="logo">
    Sans Francisco
  </h3>

  <div class="desktopTopNav">
    <% if current_user %>
      <p>
        <%= link_to "Sign Out", signout_path %>
      </p>
    <% else %>
      <p>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      </p>
    <% end %>
    <p class="topNavItem">
      <span style="text-decoration: line-through">Jobs</span>  (Coming Soon)
    </p>
    <%= nav_link "Library", publications_path %>
    <%= nav_link "Toolkit", root_path %>
  </div>

  <div class="mobileTopNav">
    <button class="hamburger">
      <%= image_tag("hamburger.png", :alt => "Menu") %>
    </button>
    <button class="cross">
      <%= image_tag("hamburger.png", :alt => "Menu") %>
    </button>
  </div>
</div>

<div class="mobileMenu">

</div>

<script>
  $( ".cross" ).hide();
  $( ".mobileMenu" ).hide();
  $( ".hamburger" ).click(function() {
    $( ".mobileMenu" ).slideToggle( "slow");
    $( ".hamburger" ).hide();
    $( ".cross" ).show();
  });
</script>