<div class="ui form">
  <%= form_for(@resource) do |f| %>
    <% if @resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

        <ul>
        <% @resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "ui input" %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.select(:category, ['User Research', 'Typography', 'Color Palette', 'Iconography', 'Stock Photos', 'Inspiration', 'Prototyping', 'Presentation', 'Collaboration'], {}, { :class => 'ui fluid dropdown' }) %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "ui input" %>
    </div>
    <div class="actions">
      <%= f.submit 'Go!', class: "ui fluid pink button" %>
    </div>
  <% end %>
</div>

<script>
  $('select.dropdown')
    .dropdown()
  ;
</script>