<div class="resource">
  <div class="resource__title">
    <a href="<%= resource.url %>?ref=sansfrancis.co" target="_blank" onfocus="trackOutboundLink('<%= resource.url %>?ref=sansfrancis.co'); return false;">
      <div class="resource__favicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
      <h3 class="resource__name"><%= resource.name %></h3>
      <% if resource.created_at >= Date.today-30.days %>
        <div class="resource__label"><span>New</span></div>
      <% end %>
      <% if resource.featured == true %>
        <div class="resource__label"><span>Featured</span></div>
      <% end %>
    </a>
    <% if current_user %>
      <div class="votes">
        <% if (current_user.liked? resource) %>
          <%= render(:partial => 'unlike', :locals => {:resource => resource})%>
        <% else %>
          <%= render(:partial => 'like', :locals => {:resource => resource})%>
        <% end %>
      </div>
    <% else %>
      <%= link_to like_resource_path(resource), method: :get, class: 'like_resource' do %>
        <button class="ui basic compact icon right floated button vote_count signedOut">
          <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
        </button>
      <% end %>
    <% end %>
  </div>

  <p class="resource__description"><%= resource.description %></p>
</div>
