<div class="resource">
  <a href="<%= resource.url %>?ref=sansfrancis.co" target="_blank" onfocus="trackOutboundLink('<%= resource.url %>?ref=sansfrancis.co'); return false;">
    <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
    <h3> 
      <%= resource.name %>
    </h3>
  </a>
  
  <!-- New Label -->
  <% if resource.created_at >= Date.today-7.days %>
    <div class="newLabel">
      <p>New</p>
    </div>
  <% end %>

  <!-- Featured Label -->
  <% if resource.featured == true %>
    <div class="newLabel">
      <p>Featured</p>
    </div>
  <% end %>
  
  <!-- Like/Unlike Button -->
  <% if current_user %>
    <!-- If the user is signed in, allow them to vote -->
    <div class="votes">
      <% if (current_user.liked? resource) %>
        <!-- Unlike -->
        <%= render(:partial => 'unlike', :locals => {:resource => resource})%>
      <% else %>
        <!-- Like -->
        <%= render(:partial => 'like', :locals => {:resource => resource})%>
      <% end %>
    </div>
  <% else %>
    <%= link_to like_resource_path(resource), method: :get, class: 'like_resource' do %>
      <button class="ui basic compact icon right floated button vote_count signedOut">
        <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
      </button> 
    <% end %>
  <% end %>

  <p class="resourceDescription">
    <%= resource.description %>
  </p>
</div>