<div class="hero">
  <h1>
    A collection of tools to help designers craft delightful experiences.
  </h1>
</div>
<div class="main-content">
  <ul id="nav" class="sidebar">
    <% @categories.each do |category, category_id| %>
      <a class="nav-item" href="#<%= category_id %>">
        <span class="nav-item__mark"></span>
        <li class="nav-item__label"><%= category %></li>
      </a>
    <% end %>
    <div class="sidebar__buttons">
      <a target="_blank" href="https://twitter.com/home?status=Sans%20Francisco%20is%20a%20collection%20of%20tools%20to%20help%20designers%20craft%20delightful%20experiences.%20www.sansfrancis.co%20via%20%40robinsongreig%20%23design" class="ui circular color-blue icon button">
        <i class="twitter icon"></i> Tell Your Friends
      </a>
      <a target="_blank" href="http://robinsongreig.seeker.company/submit/job" class="ui circular color-orange icon button">
        <i class="bullhorn icon"></i> Post a Job - $20
      </a>
      <!-- <a target="_blank" href="mailto:robinson@greig.io" class="ui circular color-purple icon button">
        <i class="plus icon"></i> Add/Feature Your Tool
      </a> -->
    </div>
  </ul>
  <div class="resources" id="resources">
    <div class="resources__section--new">
      <div class="recently-added">
        <h2>Recently Added</h2>
        <a href="https://twitter.com/home?status=Hey%20%40robinsongreig%20can%20you%20add%20this%20to%20sansfrancis.co%3A" target="_blank">
          <button class="ui circular color-orange icon button m-hidden">
            <i class="twitter icon"></i>
            Suggest a Tool
          </button>
        </a>
      </div>
      <div class="breakerBar"></div>
      <% @new_resources.each do |resource| %>
        <% if resource %>
          <%= render(:partial => 'resource', :locals => {:resource => resource})%>
        <% end %>
      <% end %>
    </div>
    <% @categories.each do |category, category_id| %>
      <div class="resources__section">
        <h2 id="<%= category_id %>"><%= category %></h2>
        <div class="breakerBar"></div>
        <% @resources.each do |resource| %>
          <% if resource.category == category %>
            <%= render(:partial => 'resource', :locals => {:resource => resource})%>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if @job['detail'] != "Not found." %>
  <div class="job-board">
    <div>
      <%= link_to "Designer Jobs", "https://robinsongreig.seeker.company/", target: "_blank", class: "m-hidden" %>
      <a href="<%= @job_application_link %>?ref=sansfrancis.co" target="_blank" onfocus="trackOutboundLink('<%= @job_application_link %>?ref=sansfrancis.co'); return false;" class="job-board__job-link">
        <span class="job-board__job-highlight"><%= @company_name %></span> is looking for a <span class="job-board__job-highlight"><%= @job_title %></span>
      </a>
    </div>
    <a href="#" class="job-board__close"></a>
  </div>
<% else %>
  <div class="job-board">
    <div>
      <%= link_to "Designer Jobs", "https://robinsongreig.seeker.company/", target: "_blank", class: "m-hidden" %>
      <a href="https://robinsongreig.seeker.company/submit/job" target="_blank" onfocus="trackOutboundLink('https://robinsongreig.seeker.company/?ref=sansfrancis.co'); return false;" class="job-board__job-link">
        Hiring a new designer? <span class="job-board__job-highlight">Post your job here!</span>
      </a>
    </div>
    <a href="#" class="job-board__close"></a>
  </div>
<% end %>

<script type="text/javascript">
$('.job-board__close').click(function(e) {
  e.preventDefault();
  $('.job-board').css('transform', 'translateY(8rem)');
  $('.job-board').addClass('hidden');
})
</script>
