<div class="container">

  <!-- ****** Header ****** -->
  <div class="header">
    <h3>
      Sans<br>
      Francisco
    </h3>

    <div class="rightNav">
      <% if current_user %>
        <p>
          <strong><%= link_to "Sign Out", signout_path %></strong>
        </p>
      <% else %>
        <p>
          <strong><%= link_to "Sign in with Twitter", "/auth/twitter" %></strong>
        </p>
      <% end %>
      <p>
        <strong style="text-decoration: line-through">Jobs</strong> (Coming Soon)
      </p>
      <p>
        <strong style="text-decoration: line-through">Learn</strong> (Coming Soon)
      </p>
      <p class="active">
        <strong>Tools</strong>
      </p>
    </div>
  </div>

  <!-- ****** Large Announcement ****** -->
  <div class="announcement">
    <h1>
      A curated list of resources for digital designers.
    </h1>
  </div>

  <!-- ****** Main Content ****** -->
  <div class="mainContent">

    <!-- ****** Side Navigation ****** -->
    <div class="sideNav ui sticky">
      <ul>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#user-research">User Research</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#typography">Typography</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#color-palette">Color Palette</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#iconography">Iconography</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#stock-photos">Stock Photos</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#inspiration">Inspiration</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#prototyping">Prototyping</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#presentation">Presentation</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#collaboration">Collaboration</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><%= link_to new_resource_path do %>Add a Tool<% end %></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li>Built by <a href="http://www.greig.io/" class="credit"><%= image_tag("ghost.png", :alt => "Robinson Greig") %></a></li>
        </div>
      </ul>
    </div>

    <!-- ****** Resources List ****** -->
    <div class="dataTable" id="dataTable">
      <!-- ****** Resources Category ****** -->
      <h2 id="user-research">
        User Research
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "User Research" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button" >
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="typography">
        Typography
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Typography" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="color-palette">
        Color Palette
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Color Palette" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="iconography">
        Iconography
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Iconography" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="stock-photos">
        Stock Photos
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Stock Photos" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="inspiration">
        Inspiration
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Inspiration" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="prototyping">
        Prototyping
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Prototyping" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="presentation">
        Presentation
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Presentation" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="collaboration">
        Collaboration
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Collaboration" %>
          <div class="resource">
            <a href="<%= resource.url %>?ref=sansfrancisco" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>

            <% if current_user %>
              <!-- Allow the current user to vote or unvote -->
              <% if (current_user.liked? resource) %>
                <!-- Unlike -->
                <%= link_to unlike_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% else %>
                <!-- Like -->
                <%= link_to like_resource_path(resource), method: :put do %>
                  <button class="ui basic compact icon right floated button">
                    <i class="heart icon" style="color: #F1F1F1"></i> <%= resource.get_likes.size %>
                  </button> 
                <% end %>
              <% end %>
            <% else %>
              <!-- Force the stranger to sign in before voting -->
              <%= link_to "/auth/twitter" do %>
                <button class="ui basic compact icon right floated button" data-tooltip="Heads up, you'll have to connect Twitter before you do that. Click away, tiger." data-variation="basic" data-position="top right">
                  <i class="heart icon" style="color: #EDB0B1"></i> <%= resource.get_likes.size %>
                </button> 
              <% end %>
            <% end %>

            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>

  <footer>
    <p>
      <strong>
        Built by <a href="http://www.greig.io/" class="credit"><%= image_tag("ghost.png", :alt => "Robinson Greig") %></a>
      </strong>
    </p>
  </footer>
</div>