<div class="container">

  <!-- Header
  ================================================== -->

  <%= render(:partial => 'shared/header', locals: { :resource => @resource }) %>

  <!-- ****** Large Announcement ****** -->
  <div class="announcement">
    <h1>
      A collection of tools to help designers craft delightful experiences.
    </h1>
  </div>
        
  <!-- Main Content
  ================================================== -->
  <div class="mainContent">

    <!-- Side Navigation 
    ************************************************** -->
    <div class="sideNav">
      <ul>

        <!-- Category Nav List -->
        <% @categories.each do |category, category_id| %>
          <div class="navItem">
            <div class="navMarker"><i></i></div>
            <li><a href="#<%= category_id %>"><%= category %></a></li>
          </div>
        <% end %>
        
        <!-- Nav Footer -->
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li>
            <a href="https://twitter.com/home?status=%40robinsongreig%20sansfrancis.co%20recommendation%20--%20" target="_blank">
              Suggest a Tool
            </a>
          </li>
        </div>
        <div class="newsletterBlock">
          <li>
            Sans Weekly<br><span style="font-family: 'Source Sans Pro', sans-serif;">Weekly bundle of tools and articles.</span>
          </li>
          <form action="//sansfrancis.us13.list-manage.com/subscribe/post?u=ff2cc04426b8359a5ba60e9bc&amp;id=fe9204d2d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="ui action input">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
              <button class="ui button">Subscribe</button>
            </div>
          </form>
        </div>
      </ul>
    </div>

    <!-- Tool List 
    ************************************************** -->
    <div class="dataTable" id="dataTable">

      <!-- Featured Resources -->
      <% @resources.each do |resource| %>
        <% if resource.featured == true %>
          <%= render(:partial => 'resource', :locals => {:resource => resource})%>
        <% end %>
      <% end %>

      <% @categories.each do |category, category_id| %>

        <!-- Category Title -->
        <h2 id="<%= category_id %>">
          <%= category %>
        </h2>
        <div class="breakerBar"></div>

        <!-- Category Details -->
        <% @resources.each do |resource| %>
          <% if resource.category == category %>
            <%= render(:partial => 'resource', :locals => {:resource => resource})%>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<script>
  scrollToDiv();
  stickyNav();
  themeColor();
  navOverlay();
</script>