<div class="container">

  <!-- ****** Header ****** -->
  <div class="header">
    <h3>
      Sans<br>
      Francisco
    </h3>
    <p>
      <strong style="text-decoration: line-through">Jobs</strong> (Coming Soon)
    </p>
    <p>
      <strong style="text-decoration: line-through">Learn</strong> (Coming Soon)
    </p>
    <p class="active">
      <strong>Resources</strong>
    </p>
  </div>

  <!-- ****** Large Announcement ****** -->
  <div class="announcement">
    <h1>
      A curated list of resources for digital designers.
    </h1>
  </div>

  <!-- ****** Main Content ****** -->
  <div class="mainContent">

    <!-- ****** Side Navigation ****** -->
    <div class="sideNav">
      <ul>
        <div class="navItem activeNavItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#user-research" class="sidNavLink">User Research</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#typography" class="sidNavLink">Typography</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#color-palette" class="sidNavLink">Color Palette</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#iconography" class="sidNavLink">Iconography</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#stock-photos" class="sidNavLink">Stock Photos</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#prototyping" class="sidNavLink">Prototyping</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#vector-tools" class="sidNavLink">Vector Tools</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#presentation" class="sidNavLink">Presentation</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#community" class="sidNavLink">Community</a></li>
        </div>
      </ul>
    </div>

    <!-- ****** Resources List ****** -->
    <div class="dataTable">
      <!-- ****** Resources Category ****** -->
      <h2 id="user-research">
        User Research
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "User Research" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="typography">
        Typography
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Typography" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="color-palette">
        Color Palette
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Color Palette" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="iconography">
        Iconography
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Iconography" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="stock-photos">
        Stock Photos
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Stock Photos" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="prototyping">
        Prototyping
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Prototyping" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="vector-tools">
        Vector Tools
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Vector Tools" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="presentation">
        Presentation
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Presentation" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- ****** Resources Category ****** -->
      <h2 id="community">
        Community
      </h2>
      <div class="breakerBar"></div>
      <% @resources.each do |resource| %>
        <% if resource.category == "Community" %>
          <div class="resource">
            <a href="<%= resource.url %>" target="_blank">
              <div class="resourceFavicon" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= resource.url %>');"></div>
              <h3> 
                <%= resource.name %>
              </h3>
            </a>
            <p class="resourceDescription">
              <%= resource.description %>
            </p>
          </div>
        <% end %>
      <% end %>


    </div>
  </div>
</div>