<div class="hero">
  <h1>
    A collection of tools to help designers craft delightful experiences.
  </h1>
</div>
<div class="main-content">
  <ul id="nav" class="sidebar">
    <% @categories.each do |category, category_id| %>
      <a class="nav-item" href="#<%= category_id %>">
        <span class="nav-item__mark"></span>
        <li class="nav-item__label"><%= category %></li>
      </a>
    <% end %>
    <div class="sidebar__buttons">
      <a target="_blank" href="https://twitter.com/home?status=Sans%20Francisco%20is%20a%20collection%20of%20tools%20to%20help%20designers%20craft%20delightful%20experiences.%20www.sansfrancis.co%20via%20%40robinsongreig%20%23design" class="ui circular color-blue icon button">
        <i class="twitter icon"></i> The Internet Loves Lists
      </a>
      <a target="_blank" href="http://robinsongreig.seeker.company/submit/job" class="ui circular color-orange icon button">
        <i class="bullhorn icon"></i> Post a Job - $20
      </a>
      <a target="_blank" href="mailto:robinson@greig.io" class="ui circular color-purple icon button">
        <i class="mail icon"></i> Questions?
      </a>
    </div>
  </ul>
  <div class="resources" id="resources">
    <% @categories.each do |category, category_id| %>
      <div class="resources__section">
        <h2 id="<%= category_id %>"><%= category %></h2>
        <div class="breakerBar"></div>
        <% @resources.each do |resource| %>
          <% if resource.category == category %>
            <%= render(:partial => 'resource', :locals => {:resource => resource})%>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if @job.present? %>
  <div class="job-board">
    <div>
      <%= link_to "Designer Jobs", "https://robinsongreig.seeker.company/", target: "_blank" %>
      <%= link_to(@job_application_link, target: "_blank", class: "job-board__job-link") do %>
        <span class="job-board__job-highlight"><%= @company_name %></span> is looking for a <span class="job-board__job-highlight"><%= @job_title %></span>
      <% end %>
    </div>
    <a href="#" class="job-board__close"></a>
  </div>
<% end %>

<script type="text/javascript">
$('.job-board__close').click(function(e) {
  e.preventDefault();
  $('.job-board').css('transform', 'translateY(8rem)');
  $('.job-board').addClass('hidden');
})
</script>
